.home{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 10px;
}
.top{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.nav{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   background-color: aqua;
}
.user{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}